@font-face {
  font-family: "HelveticaNeueHv";
  src: url("../src/assets/fonts/HelveticaNeueHv.ttf") format("truetype");
}

@font-face {
  font-family: "HelveticaNeue-Thin";
  src: url("../src/assets/fonts/HelveticaNeue-Thin.ttf") format("truetype");
}

.App {
  font-family: "HelveticaNeue-Thin";
  font-weight: lighter;
  text-align: center;
  letter-spacing: 1px;
  background-color: #faf7ee;
  min-height: 100vh;
}

.logo {
  height: 15vmin;
  position: absolute;
  top: 20px;
  left: 20px;
  pointer-events: none;
}

.header {
  height: 5vmin;
  top: 55px;
  position: relative;
  pointer-events: none;
}

.search-bar {
  height: 50px;
  width: 400px;
  margin-top: 100px;
}

.previous-page {
  height: 10px;
  padding: 0px 10px 0px 10px;
}

.previous-page:hover {
  transform: translateX(-2px);
}

.next-page {
  height: 10px;
}

.next-page:hover {
  transform: translateX(2px);
}

.results {
  height: max-content;
  background-color: #1e4b3f;
  padding-bottom: 80px;
  margin-top: 3%;
}

.movies-container {
  margin-left: 3%;
  margin-right: 3%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 80px 20px;
}

.movie-item {
  border: white;
  border-style: solid;
  border-width: 2px;
  box-shadow: -2px 9px 11px 0px rgba(0, 0, 0, 0.48);
  display: inline-block;
  width: 200px;
  height: 300px;
}

.movie-item:hover {
  transform: scale(1.02);
  transition: all 0.2s ease-in-out;
}

.movie-poster {
  opacity: 75%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.movie-poster:hover {
  /* opacity: 100%; */
  transition: all 0.3s ease-in-out;
}

.movie-poster:active {
  transform: scale(1);
  transition: all 0.2s ease-in-out;
}

.movie-info {
  color: white;
  font-family: "HelveticaNeueHv";
  font-size: 12px;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
