@font-face {
  font-family: "HelveticaNeueHv";
  src: url("../src/assets/fonts/HelveticaNeueHv.ttf") format("truetype");
}

@font-face {
  font-family: "HelveticaNeue-Thin";
  src: url("../src/assets/fonts/HelveticaNeue-Thin.ttf") format("truetype");
}

.App {
  font-family: "HelveticaNeue-Thin";
  font-weight: lighter;
  text-align: center;
  letter-spacing: 1px;
  background-color: #faf7ee;
  min-height: 100vh;
}

.logo {
  height: 15vmin;
  position: fixed;
  top: 5px;
  left: 5px;
  pointer-events: none;
}

.header {
  height: 5vmin;
  top: 75px;
  position: relative;
  pointer-events: none;
}

.search-bar {
  height: 50px;
  width: 400px;
  margin-top: 200px;
}

.previous-page {
  height: 10px;
  padding: 0px 10px 0px 10px;
}

.previous-page:hover {
  transform: translateX(-2px);
}

.next-page {
  height: 10px;
}

.next-page:hover {
  transform: translateX(2px);
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
